{{/* Updated to make contributor matching case-insensitive and add reading time */}}
{{ $categories := .Params.categories | default (slice) }}
{{ $contributors := .Params.contributors | default (slice) }}
{{ $date := .Date }}
{{ $readingTime := .ReadingTime }}

<div class="post-meta">
  {{ if $date }}
    <span class="post-date">{{ time.Format "Jan 2, 2006" $date }}</span>
  {{ end }}
  {{ if gt (len $categories) 0 }}
    <span class="post-categories"> • {{ delimit $categories ", " }}</span>
  {{ end }}
  {{ if $readingTime }}
    <span class="post-reading-time"> • {{ $readingTime }} min read</span>
  {{ end }}
  {{ if gt (len $contributors) 0 }}
    {{ $links := slice }}
    {{ $contribPages := where site.Pages "Section" "contributors" }}
    {{ range $contributors }}
      {{ $name := . }}
      {{ $match := where $contribPages "Title" (lower $name) }}
      {{ if gt (len $match) 0 }}
        {{ $page := index $match 0 }}
        {{ $links = $links | append (printf "<a href=\"%s\">%s</a>" $page.RelPermalink $name) }}
      {{ else }}
        {{ $links = $links | append (printf "%s" $name) }}
      {{ end }}
    {{ end }}
    <span class="post-authors"> • by {{ delimit $links ", " | safeHTML }}</span>
  {{ end }}
</div>
