<div style="display:flex; flex-wrap:wrap; gap:2rem; align-items:center;">
  <!-- LANL Logo -->
  <div style="flex:1; max-width:200px;">
    <img
      src="/images/logos/lanl.png"
      alt="Los Alamos National Laboratory Logo"
      style="max-width: 100%; height:auto;"
    />
  </div>
  <!-- NERSC Logo -->
  <div style="flex:1; max-width:200px;">
    <img
      src="/images/logos/nersc.jpeg"
      alt="NERSC Logo"
      style="max-width: 100%; height:auto;"
    />
  </div>
  <!-- HPE Logo -->
  <div style="flex:1; max-width:200px;">
    <img
      src="/images/logos/hpe.png"
      alt="HPE Logo"
      style="max-width: 100%; height:auto;"
    />
  </div>
  <!-- Univ of Bristol Logo -->
  <div style="flex:1; max-width:200px;">
    <img
      src="/images/logos/univ_bristol.png"
      alt="University of Bristol Logo"
      style="max-width: 100%; height:auto;"
    />
  </div>
  <!-- CSCS Logo -->
  <div style="flex:1; max-width:200px;">
    <img
      src="/images/logos/cscs.png"
      alt="CSCS Logo"
      style="max-width: 100%; height:auto;"
    />
  </div>
  <!-- Linux Foundation Logo -->
  <div style="flex:1; max-width:200px;">
    <img
      src="/images/logos/lf.png"
      alt="The Linux Foundation Logo"
      style="max-width: 100%; height:auto;"
    />
  </div>
  <!-- HPSF Logo -->
  <div style="flex:1; max-width:200px;">
    <img
      src="/images/logos/hpsf.png"
      alt="High Performance Software Foundation Logo"
      style="max-width: 100%; height:auto;"
    />
  </div>
</div>
