{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1>{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-cta rounded-pill btn-lg my-3" href="/guides/getting_started/" role="button">Get Started!</a>
      {{ .Content }}
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
  {{ if site.Params.doks.backgroundDots -}}
  <div class="d-flex justify-content-start">
    <div class="bg-dots"></div>
  </div>
  {{ end -}}
  {{ if eq $.Site.Language.LanguageName "English" }}
  <section class="section section-md section-features">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-lg-5">
          <h2 class="h4">Community</h2>
          <p>OpenCHAMI is supported by an international community of some of the largest HPC sites in the world as well as some of the smallest.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Simplicity</h2>
          <p>OpenCHAMI can support the largest HPC systems with the most complex requirements, but the default install can be running in five minutes on a raspberry pi. Administrators get simplicity by design and can opt-in to complexity if they choose. </p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Modularity</h2>
          <p>Each of the components that comprise and OpenCHAMI system is designed to work in a standalone mode and can be fully replaced.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Security</h2>
          <p>HPC jobs run in the context of a POSIX filesystem.  Cloud APIs depend on access tokens that are limited in both scope and time.  OpenCHAMI ships everything you need to bridge the two worlds.</p>
        </div>
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}

{{ define "sidebar-footer" }}
{{ if site.Params.doks.sectionFooter -}}
<section class="section section-md container-fluid bg-light">
  <div class="row justify-content-center text-center">
    <div class="col-lg-7">
      <h2 class="mt-2">Start building with Doks today</h2>
      <a class="btn btn-primary rounded-pill px-4 my-2" href="/docs/{{ if site.Params.doks.docsVersioning }}{{ site.Params.doks.docsVersion }}/{{ end }}prologue/introduction/" role="button">{{ i18n "get-started" }}</a>
    </div>
  </div>
</section>
{{ end -}}
{{ end }}
