name: REUSE Compliance Check

on:
  push:
  pull_request:

jobs:
  reuse:
    name: REUSE Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: REUSE Compliance
        uses: fsfe/reuse-action@v3
